@font-face {
  font-family: 'Main';
  src: local('Barlow'), url(./fonts/Barlow/Barlow-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Main2';
  src: local('Manrope'), url(./fonts/Manrope/static/Manrope-Light.ttf) format('truetype');
}

.App {
  text-align: center;
}

.title {
  font-family: Main;
  font-weight: bold;
  font-size: 36px;
  margin: 100px 50px 50px;
}

.navBar {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgba(155, 155, 155, 0.38);
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  border-color: black
}

.homeBtn {
  color: black;
  margin: 25px;
}

.navItem {
  margin-right: 60px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-family: Main2;
  font-size: 25px;
  color: black;
  background: transparent;
  border: none;
  border-left: solid 2px gray;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.waveBg {
  height: 100%;
  width: 100%;
}

.appIconBtn {
  background: transparent;
  border: none;
}

.appShelf {
  margin: 30px 30px 35px 30px;
  background-color: rgba(225, 225, 225, 0.3);
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 20px 20px;
}

.appGrid {
  list-style-type: none;
}

.subsectionTitle {
  font-family: Manrope;
  font-size: 20px;
}

.subtitle {
  margin: 50px;
  font-family: Main;
}

.wave {
  height: 100px;
}

.imgContainer {
  background-color: rgba(225, 225, 225, 0.3);
  border-radius: 25px;
  padding: 30px;
  width: 350px;
  margin: 75px;
}

.menuImg {
  width: 350px;
  border-radius: 15px;
}

.Menu {
  display: flex;
  justify-content: space-evenly;
  horiz-align: center;
}

.titleDiv {
  margin-top: 75px;
  margin-right: 75px;
  padding: 25px;
  width: 70%;
  height: 70%;
  display: -moz-stack;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.66);
  border: solid black 2px;
}

.SocialIcon {
  margin: 30px;
}

.intro {
  font-family: Avenir;
  font-weight: bold;
  margin: 50px 150px;
}

.appDiv {
  width: 40%;
}

.appText {
  font-family: Main;
  text-align: start;
  line-height: 1.8;
}

.appTextCenter {
  font-family: Main;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.phonePic {
  margin: 10px;
  border-radius: 20px;
  width: 13%;
}

imageSlider {
  width: 500px;
  height: 500px;
}